.main-menu
    .main-menu__col
        .main-menu__list
            a(href=GLOBALS.pages.concerts.href).main-menu__item
                span.main-menu__line.main-menu__animate-1
                span.main-menu__name.main-menu__animate-2= GLOBALS.pages.concerts.name
                span
            a(href=GLOBALS.pages.gallery.href).main-menu__item
                span.main-menu__line.main-menu__animate-3
                span.main-menu__name.main-menu__animate-4= GLOBALS.pages.gallery.name
                span.main-menu__line.main-menu__animate-5
    .main-menu__col
        .main-menu__list
            a(href=GLOBALS.pages.reviews.href).main-menu__item
                span.main-menu__line.main-menu__animate-1
                span.main-menu__name.main-menu__animate-2= GLOBALS.pages.reviews.name
                span
            a(href=GLOBALS.pages.cooperation.href).main-menu__item
                span.main-menu__line.main-menu__animate-3
                span.main-menu__name.main-menu__animate-4= GLOBALS.pages.cooperation.name
                span.main-menu__line.main-menu__animate-5